####1. Given a set my_set = {10, 20, 30, 40, 50}, how can you check if the number 30 exists in the set? Write a Python program to achieve this.

In [ ]:
my_set = {10, 20, 30, 40, 50}
if 30 in my_set:
  print("30 exists")
else:
  print("30 does not exist in the set")

30 exists

####2. Suppose you have a set my_set = {1, 2, 3, 4, 5}. How can you add the element 6 to this set? Write a Python program to achieve this.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

####3. Given a set my_set = {10, 20, 30, 40, 50}, how can you remove the element 30 from the set? Write a Python program to achieve this.

In [ ]:
my_set = {10, 20, 30, 40, 50}
my_set.remove(30)
print(my_set)

{50, 20, 40, 10}

####4. Suppose you have two sets: set1 = {1, 2, 3} and set2 = {3, 4, 5}. How can you find their union? Write a Python program to achieve this.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

####5. Given two sets set1 = {10, 20, 30} and set2 = {30, 40, 50}, how can you find their intersection? Write a Python program to achieve this.

In [ ]:
set1 = {10, 20, 30}
set2 = {30, 40, 50}
intersection_set = set1.intersection(set2)
print(intersection_set)

{30}

####6. Suppose you have two sets: set1 = {10, 20, 30} and set2 = {30, 40, 50}. How can you find elements that are in set1 but not in set2? Write a Python program to achieve this.

In [ ]:
set1 = {10, 20, 30}
set2 = {30, 40, 50}
difference_set = set1.difference(set2)
print(difference_set)

{10, 20}

####7. Given a set my_set = {1, 2, 3}, how can you remove an element randomly from the set? Write a Python program to achieve this.

In [ ]:
my_set = {1, 2, 3}
remove_element = my_set.pop()
print("Removed element : ", remove_element)
print("Update set : ", my_set)

Removed element :  1
Update set :  {2, 3}

####8. Suppose you have a set my_set = {1, 2, 3, 4, 5}, how can you clear all elements from this set? Write a Python program to achieve this.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

####9. Given two sets set1 = {1, 2, 3} and set2 = {3, 4, 5}, how can you find the symmetric difference? Write a Python program to achieve this.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
sym_diff = set1.symmetric_difference(set2)
print(sym_diff)

{1, 2, 4, 5}

####10. Suppose you have a set my_set = {10, 20, 30, 40, 50}, how can you find the length of the set? Write a Python program to achieve this.

In [ ]:
my_set = {10, 20, 30, 40, 50}
print("Length of the set : ", len(my_set))

Length of the set :  5

####11. Given a set set1 = {10, 20, 30} and a frozen set set2 = frozenset({30, 40, 50}), can you modify set2? Write a Python program to explain why.

In [ ]:
set1 = {10, 20, 30}
set2 = frozenset({30, 40, 50})
print("Set1 : ", set1)
print("Set2 : ", set2)
try:
  set2.add(60)
except AttributeError:
  print("frozenset cannot be modified beacause it is immutable!")

Set1 :  {10, 20, 30}
Set2 :  frozenset({40, 50, 30})
frozenset cannot be modified beacause it is immutable!

####12. Suppose you have a set my_set = {1, 2, 3}. How can you update it with another set {4, 5, 6}? Write a Python program to achieve this.

In [ ]:
my_set = {1, 2, 3}
my_set.update({4, 5, 6})
print(my_set)

{1, 2, 3, 4, 5, 6}

####13. Given a set my_set = {'apple', 'banana', 'cherry'}, how can you check if it is a subset of another set {'apple', 'banana', 'cherry', 'date'}? Write a Python program to achieve this.

In [ ]:
my_set = {'apple', 'banana', 'cherry'}
other_set = {'apple', 'banana', 'cherry', 'date'}
print(my_set.issubset(other_set))

True

####14. Suppose you have two sets set1 = {1, 2, 3, 4} and set2 = {3, 4}, how can you check if set2 is a subset of set1? Write a Python program to achieve this.

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4}
print(set2.issubset(set1))

True

####15. Given a set set1 = {1, 2, 3, 4, 5}, how can you convert it into a list? Write a Python program to achieve this.

In [ ]:
set1 = {1, 2, 3, 4, 5}
list1 = list(set1)
print(list1)

[1, 2, 3, 4, 5]

####16. Suppose you have a list my_list = [10, 20, 30, 40, 50, 10, 20], how can you remove duplicates and convert it into a set? Write a Python program to achieve this.

In [ ]:
my_list = [10, 20, 30, 40, 50, 10, 20]
my_set = set(my_list)
print(my_set)

{40, 10, 50, 20, 30}

####17. Given two sets set1 = {1, 2, 3} and set2 = {3, 4, 5}, how can you check if they are disjoint? Write a Python program to achieve this.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.isdisjoint(set2))

False

####18. Suppose you have a set my_set = {10, 20, 30}, how can you iterate over its elements and print them? Write a Python program to achieve this.

In [ ]:
my_set = {10, 20, 30}
for element in my_set:
  print(element)

10
20
30

####19. Given a set my_set = {10, 20, 30, 40, 50}, how can you find the minimum and maximum values? Write a Python program to achieve this.

In [ ]:
my_set = {10, 20, 30, 40, 50}
print("Minimum : ", min(my_set))
print("Mininum : ", max(my_set))

Minimum :  10
Mininum :  50

####20. Suppose you have two sets set1 = {1, 2, 3} and set2 = {4, 5, 6}, how can you merge them into a single set? Write a Python program to achieve this.

In [ ]:
 set1 = {1, 2, 3}
 set2 = {4, 5, 6}
 merged_set = set1.union(set2)
 print(merged_set)

{1, 2, 3, 4, 5, 6}