# **Set in Python**

* A set is an unordered collection of unique element
* Duplicate values are automatically removed
* Set elements must be immutable (eg. numbers, string, tuples)
* Sets are mutable, meaning elements can be added / removed (i.e indexing and slicing not used)

Example :

In [ ]:
sets = {1, 2, "pallavi", (1, 2, 3), 2, 3, 4}
print(sets)

{1, 2, 3, 4, 'pallavi', (1, 2, 3)}

# **Creating Set from List**

In [ ]:
my_list = [1, 2, 4, 6, 8, 4, 5, 3]
s = set(my_list)
print(s)

{1, 2, 3, 4, 5, 6, 8}

# **Functions**

1. add () - Add single element

In [ ]:
s = {1, 2, 3, 2, 4, 1, 6, 8, 3}
s.add(9)
print(s)

{1, 2, 3, 4, 6, 8, 9}

2. update () - Add multiple elements

In [ ]:
s = {1, 2, 3, 2, 4, 1, 6, 8, 3}
s.update([10, 11, 12])
print(s)

{1, 2, 3, 4, 6, 8, 10, 11, 12}

3. remove () - Removes elements

In [ ]:
s = {1, 2, 3, 2, 4, 1, 6, 8, 3}
s.remove(2)
print(s)

{1, 3, 4, 6, 8}

4. clear () - Delete all elements

In [ ]:
s = {1, 2, 3, 2, 4, 1, 6, 8, 3}
s.clear()
print(s)

set()

# **Set Operations**

###1. Union (A | B)
Combine all unique elements

In [ ]:
A = {5, 4, 8, 2, 3, 1, 4, 8}
B = {5, 2, 5, 8, 3, 5, 2, 1}
print(A.union(B))

{1, 2, 3, 4, 5, 8}

###2. Intersection (A & B)
Common elements in both set

In [ ]:
A = {5, 4, 8, 2, 3, 1, 4, 8}
B = {5, 2, 5, 8, 3, 5, 2, 1}
print(A.intersection(B))

{1, 2, 3, 5, 8}

###3. Difference ( A - B)
Elements in A but not in B

In [ ]:
A = {5, 4, 8, 2, 3, 1, 4, 8}
B = {5, 2, 5, 8, 3, 5, 2, 1}
print(A.difference(B))

{4}

###4. Symmetric Difference (A ^ B)
Elements in A or B, but not both

In [ ]:
A = {5, 4, 8, 2, 3, 1, 4, 8}
B = {5, 2, 5, 8, 3, 5, 2, 1}
print(A.symmetric_difference(B))

{4}

# **Built-in Set Functions**

In [ ]:
s ={10, 20, 10, 40, 70, 24, 13, 20, 13}
print("Lenght :", len(s))
print("Maximum :", max(s))
print("Minimum :", min(s))
print("Sum :", sum(s))

Lenght : 6
Maximum : 70
Minimum : 10
Sum : 177

# **Membership Test**

In [ ]:
s = {1, 2, 4, 2, 6, 4, 8}
print( 2 in s)
print(4 not in s)

True
False

# **Looping in Set**

In [ ]:
s = {1, 2, 4, 2, 6, 4, 8}
for x in s:
  print(x)

1
2
4
6
8

# **Frozen set**
* Used when you want a set that cannot be changed
* Cannot add / remove elements

Example :

In [ ]:
fs = frozenset ([1, 2, 3])
print(fs)

frozenset({1, 2, 3})

# **When to use set**
1. When you want unique element
2. When order doesn't matter
3. For fast membership testing (in / not in)
4. For mathematical operations (union, intersection, etc)