# **Introduction to Python**

Python is a high-level, interpreted, and general-purpose programming language created by Guido van Rossum (1991).
It focuses on simplicity, readability, and flexibility, making it one of the most popular languages today.

Key Features :

Readable & Simple Syntax – Code looks like English; easy to write and understand.

Interpreted Language – Executes line by line (no need to compile).

Dynamically Typed – No need to declare variable types; Python decides automatically.

Object-Oriented – Supports classes, inheritance, and objects for modular coding.

Cross-Platform – Works on Windows, macOS, Linux, etc.

Extensive Libraries – Rich built-in and third-party modules (NumPy, Pandas, Django, TensorFlow).

Open Source – Free to use and modify.

Large Community – Continuous support, updates, and learning resources.

# **Tokens in Python**

In Python, a token is the smallest individual unit of a program.
When a Python program is executed, the source code is first broken down into tokens during the lexical analysis (tokenization) phase.

Tokens are the basic building blocks of Python code — they represent elements such as keywords, identifiers, literals, operators, and punctuation/special symbols.

Simple Definition :
Tokens are the smallest parts of a Python program that have meaning to the interpreter, such as keywords, identifiers, literals, operators, and symbols.

# **Keywords in Python**

In Python, keywords are reserved words that have predefined meanings and functions.

They are part of Python’s syntax and grammar, so you cannot use them as variable names, function names, or identifiers.

Each keyword serves a specific purpose in controlling the structure and logic of the program.

Simple Definition :
Keywords are special words in Python that have fixed meanings and cannot be changed or reused as variable names.

Key Points :

Keywords are case-sensitive → True ≠ true

Total 35 keywords in Python (may vary slightly by version)
Can check them using:

Code :

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# **Identifiers in Python**

In Python, an identifier is the name given to entities such as variables, functions, classes, modules, or other user-defined objects.
They help the interpreter identify different parts of a program.

Simple Definition :
Identifiers are names used to identify variables, functions, classes, or objects in a Python program.

Key Points :

Identifiers are user-defined names.

They make code readable and organized.

Keywords cannot be used as identifiers since they are reserved words in Python.

Example :

In [ ]:
name = "Aditya"
_age = 25
student1 = "Pallavi"
totalMarks = 90

Rules for Naming Identifiers
1. Cannot be a keyword	if = "Python"
2. Are case-sensitive	Name ≠ name
3. Must begin with a letter (A–Z, a–z) or underscore (_)
student1, _value
4. First character cannot be a digit	1num
5. No spaces or special symbols (@, $, #, !) allowed	my_name
6. Underscore (_) is allowed in names	first_name, _hiddenVar
7. It’s a convention to start with a lowercase letter

# **Literals in Python**


In Python, a literal is a constant value or data assigned to a variable.
It represents fixed values in the source code that do not change during execution.

Simple Definition :
The data given to a variable is called a literal. Literals are the actual values stored in variables.

# Types of Literals

1. Numeric Literals - Represent numbers.

   * Integer : Whole numbers (e.g., x = 10)
   * Float : Decimal numbers (e.g., y = 12.5)
   * Complex : Real and imaginary parts (e.g., z = 3 + 5j)

2. Boolean Literals - Represent logical values.

   * True
   * False

3. String Literals - Represent text enclosed in quotes.

   * Single-line : 'Hello'
   * Multi-line : '''This is a multiline string'''

4. None Literal - Represents no value / null value.
   * x = None

5. Literal Collections - Collections that store multiple items.
   * List	Ordered & changeable.	[1, 2, 3]
   * Tuple	Ordered & unchangeable.	(4, 5, 6)
   * Dictionary	Key – value pairs.	{'a': 1, 'b': 2}
   * Set	Unordered unique elements.	{1, 2, 3}

Example :

In [ ]:
name = "Abhi"              # String literal
age = 21                   # Integer literal
pi = 3.14                  # Float literal
is_python_easy = True      # Boolean literal
colors = ["red", "blue"]   # List literal
person = {'name': 'Abhi'}  # Dictionary literal

# **Operators in Python**

Operators are special symbols used to perform opeartions on variables and values

Python supports a wide range of operators categories into 7 different types
1. Arithmetic
2. Assignment
3. Comparison
4. Logical
5. Membership
6. Identity
7. Bitwise

# **Arithmetic Operators**

Used to perform basic mathematical operations between numeric values

1. Addition (+) - Adds two numbers
2. Subtraction (-) - Subtracts one number from another
3. Multiplication (*) - Multiplies numbers
4. Division (/) - Divide and returns float result
5. Floor Division (//) - Returns quotient without decimal
6. Modulus (%) - Returns Remainder
7. Exponent (**) - Raises number to a power

Example :

In [ ]:
a = 10
b = 3
print("Addition :", a + b)
print("Subtraction :", a - b)
print("Multiplication :", a * b)
print("Division :", a / b)
print("Floor Division :", a // b)
print("Modulus :", a % b)
print("Exponent :", a ** b)

Addition : 13
Subtraction : 7
Multiplication : 30
Division : 3.3333333333333335
Floor Division : 3
Modulus : 1
Exponent : 1000

# **Assignment Operators**

Used to assign or modify values in variables

1. Assign (=) - Assign value to variable
2. Add and Assign (+=) - Adds and updates
3. Subtract and Assign (-=) - Subtract and updates
4. Multiply and Assign (*=) - Multiplies and updates
5. Divide and Assign (/=) - Divides and updates
6. Modulus and Assign (%=) - Stores remainder
7. Power and Assign (**=) - Stores power value

Example :

In [ ]:
x = 10
x += 5       # x = 10 + 5 = 15
x -= 3       # x = 15 - 3 = 12
x *= 2       # x = 12 * 2 = 24
x /= 6       # x = 24 / 6 = 4.0
x %= 3       # x = 4.0 % 3 = 1.0
x **= 2      # x = 1.0 ** 2 = 1.0
print("Final Value of x:", x)

Final Value of x: 1.0

# **Comparison Operators**

Used to compare two values they return true or false

1. Equal to
2. Not equal to
3. Greater than
4. Less than
5. Greater than or equal to
6. Less than or equal to

Example :

In [ ]:
a = 10
b = 5
print (a == b)
print (a != b)
print (a > b)
print (a < b)
print (a >= b)
print (a <= b)

False
True
True
False
True
False

# **Logical Operators**

Used to combine multiple conditions and return a boolean result

1. and - Return if both conditions are true
2. or - True if anyy one condition is true
3. not - Reverse the result

Example :

In [ ]:
a = 5
b = 10
print ( a > 2 and b > 5 )
print ( a > 10  or b > 5 )
print (not (a > b ))

True
True
True

# **Membership Operators**

Used to check if a value is present in a sequence (list, string, tuple etc)

1. in - True if value exists in sequence
2. not in - True if value doesnt exist in sequence

Example :

In [ ]:
fruits = [ "apple", "banana", "cherry"]
print ( "apple" in fruits)
print ("grape" in fruits)
print ("orange" not in fruits)

True
False
True

# **Identity operators**

Used to compare memory loactions of two objects (not just value)

1. is - True if both refer to same objects
2. is not - True if they refer to different objects

Example :

In [ ]:
x = [1, 2, 3]
y = [ 1, 2, 3]
z = x
print ( x is z )
print ( x is y )
print ( x is not y )

True
False
True

# **Bitwise Operators**

Used to perform operations on bits (binary values) work at the bit level (0s and 1s)

1. AND (&) - 1 if both bits are 1
2. OR (`) - OR
3. NOT (~) - Inverts bits
4. XOR (^) - 1 if bits are different
5. Right Shift (>>) - Shifts bits right
6. Left Shift (<<) - Shifts bits left

Example :

In [ ]:
x = 10
y = 4
print ( x & y )
print ( x | y )
print ( ~ x )
print ( x ^ y )
print ( x >> 2 )
print ( x << 2 )

0
14
-11
14
2
40

# **Comments in Python**

Comments are hints or notes added to code to make it easier to understand and they are ignored by python interpretor during program execution, they do not affect output

We should use comments for the following reasons:
1. Comments make our code readable for future reference.
2. Comments are used for debugging purposes.
3. We can use comments for code collaboration as it helps peer developers to understand our code.

Types of comments

1. Single line comments (#) - Used to comment one line only
2. Multiline comment (''' ....... ''') - Used for multiple lines of explination

Example :

In [ ]:
print("Pallavi")         # Printing first name

'''
In this program,
I can print full name
using print statements
'''

print("Kanhe")           # Printing last name

Pallavi
Kanhe

# **Variable in Python**

A variable is a name given to store a value in the computer’s memory.
It acts like a container that holds data, and the value can change during program execution.

Variable = Name that stores a value.

Rules for Naming Variables :

1. Variable name can contain letters, digits, and underscore (_).
2. It cannot start with a digit.
3. No spaces are allowed in the name.
4. Case-sensitive → Name and name are different.
5. Keywords cannot be used as variable names.

Example :

In [ ]:
name = "Pallavi"
age_1 = 23
_marks = 92.20
my_city = "Hingoli"

print(name)
print(age_1)
print(_marks)
print(my_city)

Pallavi
23
92.2
Hingoli

# **Datatypes in Python**

Datatypes in python define the kind of value a variable can hold and what operations can be performed on that value

Datatypes - Type of data stored in variable

Example :

In [ ]:
a = 10
b = 10.5
c = "Pallavi"
d = True
e = 3 + 2j
print (type(a))
print (type(b))
print (type(c))
print (type(d))
print (type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>