####1. Given a tuple my_tuple = (5, 10, 15, 20, 25), how can you access the element 15 using positive indexing? Write a Python program to achieve this.

In [ ]:
my_tuple = (5, 10, 15, 20, 25)
print(my_tuple[2])

15

####2. Given a tuple my_tuple = (100, 200, 300, 400, 500), how can you access the element 300 using negative indexing? Write a Python program to achieve this

In [ ]:
my_tuple = (100, 200, 300, 400, 500)
print(my_tuple[-3])

300

####3. Given a tuple my_tuple = (1, 2, 3, (4, 5, 6)), how can you access the element 6 from the nested tuple using indexing? Write a Python program to achieve this.

In [ ]:
my_tuple = (1, 2, 3, (4, 5, 6))
print(my_tuple[3] [2])

6

####4. Given a tuple my_tuple = (5, 10, 15, 20, 25), how can you slice it to obtain (10, 15, 20)? Write a Python program to achieve this.

In [ ]:
my_tuple = (5, 10, 15, 20, 25)
print(my_tuple[1:4])

(10, 15, 20)

####5. Given a tuple my_tuple = ('Python', 'Java', 'C++', 'JavaScript'), how can you access the last element without knowing its index? Write a Python program to achieve this.

In [ ]:
my_tuple = ('Python', 'Java', 'C++', 'JavaScript')
print(my_tuple [-1])

JavaScript

####6. Given two tuples tuple1 = (1, 2, 3) and tuple2 = (4, 5, 6), how can you concatenate them into a single tuple? Write a Python program to achieve this.

In [ ]:
 tuple1 = (1, 2, 3)
 tuple2 = (4, 5, 6)
 tuple3 = tuple1 + tuple2
 print(tuple3)

(1, 2, 3, 4, 5, 6)

####7. Given a tuple my_tuple = ('x', 'y', 'z', 'a'), how can you check if the element 'y' exists in the tuple? Write a Python program to achieve this.

In [ ]:
my_tuple = ('x', 'y', 'z', 'a')
print('y' in my_tuple)

True

####8. Given a tuple my_tuple = ('apple', 'banana', 'apple', 'cherry', 'apple'), how can you count the number of occurrences of 'apple'? Write a Python program to achieve this.

In [ ]:
my_tuple = ('apple', 'banana', 'apple', 'cherry', 'apple')
print(my_tuple.count('apple'))

3

####9. Given a tuple my_tuple = (True, False, True, False), how can you find the number of True values in the tuple? Write a Python program to achieve this.

In [ ]:
my_tuple = (True, False, True, False)
my_tuple.count(True)

2

####10. Given a tuple my_tuple = ('Python', 3.8, True, (1, 2, 3)), how can you access the nested tuple (1, 2, 3)? Write a Python program to achieve this.

In [ ]:
my_tuple = ('Python', 3.8, True, (1, 2, 3))
print(my_tuple[3])

(1, 2, 3)

####11. Given a tuple my_tuple = (10, 20, 30), how can you convert it into a list? Write a Python program to achieve this.

In [ ]:
my_tuple = (10, 20, 30)
my_list = list(my_tuple)
print(my_list)

[10, 20, 30]

####12. Given a tuple my_tuple = (7, 14, 21, 28, 35), how can you find the smallest and largest elements? Write a Python program to achieve this.

In [ ]:
my_tuple = (7, 14, 21, 28, 35)
print("Smallest Element : ", min(my_tuple))
print("Largest Element : ", max(my_tuple))

Smallest Element :  7
Largest Element :  35

####13. Given a tuple my_tuple = (2, 4, 6, 8, 10), how can you find the sum of all elements? Write a Python program to achieve this.

In [ ]:
my_tuple = (2, 4, 6, 8, 10)
print("Sum of all elements : ", sum(my_tuple))

Sum of all elements :  30

####14. Given a tuple my_tuple = ('a', 'b', 'c', 'd'), how can you reverse the order of elements? Write a Python program to achieve this.

In [ ]:
my_tuple = ('a', 'b', 'c', 'd')
print(my_tuple [::-1])

('d', 'c', 'b', 'a')

####15. Given two tuples tuple1 = (1, 2, 3) and tuple2 = (1, 2, 3), how can you check if they are equal? Write a Python program to achieve this.

In [ ]:
 tuple1 = (1, 2, 3)
 tuple2 = (1, 2, 3)
 print(tuple1 == tuple2)

True

####16. Given a tuple my_tuple = (10, 20, 30, 40), how can you unpack its values into separate variables? Write a Python program to achieve this.

In [ ]:
my_tuple = (10, 20, 30, 40)
a, b, c, d = my_tuple
print(a, b, c, d)

10 20 30 40

####17. Given a tuple my_tuple = (3, 6, 9, 12, 15), how can you convert it into a string? Write a Python program to achieve this.

In [ ]:
 my_tuple = (3, 6, 9, 12, 15)
 str(my_tuple)

'(3, 6, 9, 12, 15)'

####18. Given a tuple my_tuple = (1, 2, 3, 4, 5), how can you iterate through it using a for loop? Write a Python program to achieve this.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
for item in my_tuple:
  print(item)

1
2
3
4
5

####19. Given a tuple my_tuple = (100, 200, 300, 400), how can you convert it into a dictionary with keys as index positions? Write a Python program to achieve this.

In [ ]:
my_tuple = (100, 200, 300, 400)
dict1 = dict(enumerate(my_tuple))
print(dict1)

{0: 100, 1: 200, 2: 300, 3: 400}

####20. Given a tuple my_tuple = (1, 2, 3, 4, 5), how can you delete the entire tuple? Write a Python program to achieve this.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
del my_tuple