# **Tuple in Python**

* A tuple is an ordered collection of elements
* Immutable - once created, you cannot change, add, or remove element
* Uses round brackets ()
* Can store different data types (int, float, string, list, tuple, etc)

Example :

In [ ]:
my_tuple = (1, "Apple", 3.5, [1, 2, 3], {"a", "b"})
print(my_tuple)

(1, 'Apple', 3.5, [1, 2, 3], {'a', 'b'})

# **Indexing**

* Accessing tuple elements
* Index start from 0
* Negative index start from -1

Example :

In [ ]:
t = ('a', 'b', 'c', 'd')
print(t[0])
print(t[2])
print(t[-1])
print(t[-3])

a
c
d
b

In [ ]:
t = (1, (2, 3), (4, 5, 6))
print(t[2] [1])

5

# **Slicing**

Used to extract a part of the tuple

Example :

In [ ]:
t = (10, 20, 30, 40, 50)
print(t[1:4])
print(t[:3])
print(t[2:])
print(t[:])
print(t[-3:])
print(t[::-1])

(20, 30, 40)
(10, 20, 30)
(30, 40, 50)
(10, 20, 30, 40, 50)
(30, 40, 50)
(50, 40, 30, 20, 10)

# **Tuple Method**

Tuples have two important methods
1. index ()
2. count ()

###1. index ()

Returns first index of a given value

In [ ]:
t = (1, 2, 3, 4, 6, 5)
print(t.index(2))

1

###2. count ()

Returns numbers of occurrences of a value

In [ ]:
t = (1, 2, 2, 2, 4)
print(t.count(2))

3

# **Tuple Functions**

1. len () - Length of tuple

In [ ]:
t = (1, 2, 4, 2, 6, 3, 8)
print(len(t))

7

2. max () - Largest value

In [ ]:
t = (1, 2, 4, 2, 6, 3, 8)
print(max(t))

8

3. min () - Smallest value

In [ ]:
t = (1, 2, 4, 2, 6, 3, 8)
print(min(t))

1

4. sorted () - Returns sorted list

In [ ]:
t = (1, 2, 4, 2, 6, 3, 8)
print(sorted(t))

[1, 2, 2, 3, 4, 6, 8]

5. sum () - Total of numbers

In [ ]:
t = (1, 2, 4, 2, 6, 3, 8)
print(sum(t))

26

6. average () - Custom calculation

In [ ]:
t = (1, 2, 4, 2, 6, 3, 8)
avg = sum(t) / len(t)
print(avg)

3.7142857142857144

# **Using Tuple with ZIP()**

In [ ]:
cities = ["Delhi", "Patna", "Cuttack"]
rivers = ["Yamuna", "Ganga", "Mahanandi"]

result = list(zip(cities,rivers))
print(result)

[('Delhi', 'Yamuna'), ('Patna', 'Ganga'), ('Cuttack', 'Mahanandi')]

# **When to Use Tuple**

1. Data must not change
2. You want faster performance
3. You want to return multiple values from function
4. You want to use tuple as a dictionary key

# **Difference between Tuple and List**

Tuple          
1. Mutable  
2. More storage
3. Less performance

List
1. Immutable
2. Less storage
3. More performance