# **Python Functions**

A function is a block of reusable code that performs a specific task

Why do we use functions ?

1. To avoid writing the same code again and again
2. To make code clean, readable, and modular
3. To improve reusability
4. To divide complex programs into smaller parts

# **Types of Functions**

1. Built-in-Functions : Already available in python.
   Example : print(), len(), type(), max(), sum().

2. User-defined-Functions
   Created by programmers using def

###Syntax :

function_name(parameter):

  #statements

return value

###Return Statement

Return is used to send a value back to the function caller.

In [ ]:
def square(n):
    return n * n

Example :

In [ ]:
def add(a, b):
  return a + b
print(add(5, 3))

8

# **Python Function Programs**

####1. Write a function that calculates the area of a rectangle given its length and width.

Description: Create a function that takes two parameters, length and width, and returns the area of the rectangle calculated using the formula: area = length * width.

In [3]:
def rectangle_area(length, width):
  return length * width

In [8]:
print("Area of rectangle : ", rectangle_area(10, 5))

Area of rectangle :  50

####2. Create a function that converts temperature from Celsius to Fahrenheit.

Description: Define a function that accepts a temperature value in Celsius and returns its equivalent in Fahrenheit using the formula: Fahrenheit = (Celsius * 9/5) + 32.

In [6]:
def celsius_to_fahrenheit(celsius):
  return (celsius * 9/5) +32

In [7]:
print("Fahrenheit : ", celsius_to_fahrenheit(25))

Fahrenheit :  77.0

####3. Write a function to find the factorial of a number.

Description: Implement a function that computes the factorial of a given number using recursion or iteration.

In [9]:
def factorial(n):
  result = 1
  for i in range(1, n + 1):
    result = result * i
  return result

In [20]:
value = 4
print("Factorial of", value, "is =", factorial(value))

Factorial of 4 is = 24

####4. Design a function to check if a given number is prime.

Description: A prime number is greater than 1 and has no divisors other than 1 and itself.

In [42]:
def prime(num):
    if num <= 1:
        return "Not Prime Number"

    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return "Not Prime Number"

    return "Prime Number"

In [44]:
print(prime(11))

Prime Number

####5. Create a function that reverses a given string.

Description: The function returns the reverse of a given string.

In [45]:
def reverse_string(text):
  return text[::-1]

In [27]:
print(reverse_string("Hello"))

olleH

####6. Write a function to compute the nth Fibonacci number.

Description: Fibonacci sequence: 0, 1, 1, 2, 3, 5, 8...

In [28]:
def fibonacci(n):
  a, b = 0, 1
  for i in range(n):
    a, b = b, a + b
  return a

In [31]:
print(fibonacci(4))

3

####7. Create a function to find the largest element in a list.

Description: Return the maximum value from a list of numbers.

In [32]:
def largest_element(list):
  return max(num)

In [33]:
print(largest_element([4, 8, 12, 43, 22, 1]))

43

####8. Design a function to count the number of vowels in a string.

Description: Count a, e, i, o, u (both lowercase & uppercase).

In [49]:
def count_vowels(text):
  vowels = "aeiouAEIOU"
  count = 0
  for ch in text:
    if ch in vowels:
      count += 1
  return count

In [50]:
print(count_vowels("Hello World"))

3

####9. Write a function to calculate the factorial of each number in a given list.

Description: Return a new list containing factorial of each number.

In [53]:
def factorial_list(numbers):
  def fact(n):
    result = 1
    for i in range(1, n + 1):
      result *= i
    return result
  return [fact(num) for num in numbers]

In [54]:
print(factorial_list([3, 4, 5]))

[6, 24, 120]

####10. Create a function to check if a string is a palindrome.

Description: A palindrome reads same forward and backward.

In [55]:
def is_palindrome(text):
  return text == text[::-1]

In [56]:
print(is_palindrome("madam"))

True

####11. Write a function to find the sum of all elements in a list.

Description: Develop a Python function that takes a list of numbers as input and returns the sum of all elements present in the list.

In [57]:
def sum_of_list(numbers):
  total = 0
  for n in numbers:
    total = total + n
  return total

In [58]:
print(sum_of_list([12, 12]))

24

####12. Create a function to sort a list of integers in ascending order.

Description: Define a Python function that accepts a list of integers and returns a new list sorted in ascending order.

In [61]:
def sort_list(numbers):
  return sorted(numbers)

In [62]:
print(sort_list([34, 12, 78, 34, 56]))

[12, 34, 34, 56, 78]

####13. Design a function to calculate the area of a circle given its radius.

Description: Use formula → area = π * radius²

In [63]:
import math

def circle_area(radius):
  return math.pi * radius * radius

In [64]:
print(circle_area(5))

78.53981633974483

####14. Write a function to find the average of elements in a list of numbers.

Description: Compute sum / count

In [65]:
def average_list(numbers):
  return sum(numbers) / len(numbers)

In [66]:
print(average_list([10, 20, 30]))

20.0

####15. Create a function to generate a list of prime numbers within a specified range.

Description: Takes start & end, returns list of primes.

In [69]:
def prime_range(start, end):
  primes = []
  for num in range(start, end + 1):
    if num > 1:
      for i in range(2, int(num ** 0.5) + 1):
          if num % i == 0:
             break
      else:
          primes.append(num)
  return primes

In [70]:
print(prime_range(10, 30))

[11, 13, 17, 19, 23, 29]

####16. Design a function to calculate the exponentiation of a number to a given power.

Description: base^exponent

In [71]:
def power(base, exponent):
  return base ** exponent

In [72]:
print(power(2, 5))

32

####17. Write a function to remove duplicate elements from a list.

Description: Preserve original order.

In [73]:
def remove_duplicates(list):
  unique_list = []
  for item in list:
      if item not in unique_list:
        unique_list.append(item)
  return unique_list

In [74]:
print(remove_duplicates([1, 2, 3, 2, 3, 6, 7, 8]))

[1, 2, 3, 6, 7, 8]

####18. Create a function to compute the sum of squares of all numbers from 1 to n.

Description: sum = 1² + 2² + ... + n²

In [75]:
def sum_of_squares(n):
  total = 0
  for i in range(1, n + 1):
    total += i * i
  return total

In [77]:
print(sum_of_squares(5))

55

####19. Design a function to calculate the distance between two points in a 2D plane.

Description: Use formula → distance = √((x2-x1)² + (y2-y1)²)

In [80]:
import math

def distance(x1, y1, x2, y2):
  return math.sqrt((x2 - x1) ** 2 + (y2 - y1) ** 2)

In [81]:
print(distance(0, 0, 3, 4))

5.0

####20. Write a function to find the mode (most frequent element) in a list.

Description: If multiple modes exist, return any one.

In [82]:
def find_mode(list):
  frequency = {}
  for item in list:
      frequency[item] = frequency.get(item, 0) + 1
  return max(frequency, key=frequency.get)

In [83]:
print(find_mode([2, 3, 2, 5, 3, 2]))

2