####1. Given a list [4, 8, 2, 10, 6], find the maximum number using a for loop.

In [ ]:
numbers = [4, 8, 2, 10, 6]
max_num = numbers[0]

for num in numbers:
  if num > max_num:
    max_num = num

print("Maximum number is : ", max_num)

Maximum number is :  10

####2. Take input from the user and find the factorial of the number using a for loop.

In [ ]:
n = int(input("Enter a number : "))
fact = 1

for i in range(1, n + 1):
  fact *= i

print("Factorial : ", fact)

Enter a number : 4
Factorial :  24

####3. Given a list ['apple', 'banana', 'cherry', 'date', 'fig'], print each element along with its index using a for loop.

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date', 'fig']
for i in range (len(fruits)):
  print(i, fruits[i])

0 apple
1 banana
2 cherry
3 date
4 fig

####4. Take a string input from the user and count the number of uppercase letters using a for loop. (Use char.isupper())

In [ ]:
s = input("Enter a string : ")
count = 0
for ch in s:
  if ch.isupper():
    count += 1
print("Uppercase letters : ", count)

Enter a string : Pallavi Kanhe
Uppercase letters :  2

####5. Given a list of integers [17, 25, 39, 42, 58, 71, 86, 93], find the sum of all the even numbers using a for loop.

In [ ]:
num = [17, 25, 39, 42, 58, 71, 86, 93]
total = 0
for n in num:
  if n % 2 == 0:
    total += n
print(total)

186

####6. Given a list [3, 6, 9, 12, 15], calculate the product of all the elements using a for loop.

In [ ]:
num = [3, 6, 9, 12, 15]
product = 1
for n in num:
  product *= n
print(product)

29160

####7. Given a list [2, 3, 5, 7, 11, 13, 17, 19], find the index of the first occurrence of the number 7 using a for loop.

In [ ]:
num = [2, 3, 5, 7, 11, 13, 17, 19]
for i in range(len(num)):
  if num[i] == 7:
    print("Index = ", i)
    break

Index =  3

####8. Take a string input from the user and reverse it using a for loop.

In [ ]:
s = input("Enter a string : ")
rev = ""
for ch in s:
  rev = ch + rev
print(rev)

Enter a string : Pallavi
ivallaP

####9. Given a list [10, 20, 30, 40, 50], print each element multiplied by 2 using a for loop.

In [ ]:
num = [10, 20, 30, 40, 50]
for n in num:
  print(n * 2)

20
40
60
80
100

####10. Given a list of words ['Python', 'Java', 'C++', 'JavaScript', 'Ruby'], find the longest word using a for loop.

In [ ]:
words = ['Python', 'Java', 'C++', 'JavaScript', 'Ruby']
longest = words[0]
for w in words:
  if len(w) >  len(longest):
    longest = w
print(longest)

JavaScript

####11.Take a string input from the user and count the number of vowels using a for loop.

In [ ]:
s = input("Enter a string: ")
vowels = "aeiouAEIOU"
count = 0
for ch in s:
    if ch in vowels:
        count += 1
print("Vowels:", count)

Enter a string: Pallavi Kanhe Patil
Vowels: 7

####12. Given a list of integers [4, 9, 16, 25, 36], print the square root of each number using a for loop.

In [ ]:
nums = [4, 9, 16, 25, 36]
for n in nums:
    print(n ** 0.5)

2.0
3.0
4.0
5.0
6.0

####13. Given a list [1, 3, 5, 7, 9, 11], check if a user-inputted number is present in the list using a for loop.

In [ ]:
nums = [1, 3, 5, 7, 9, 11]
x = int(input("Enter a number: "))
found = False
for n in nums:
    if n == x:
        found = True
        break
print("Present" if found else "Not present")

Enter a number: 12
Not present

####14. Given a list [100, 200, 150, 50, 75], find the minimum number using a for loop.

In [ ]:
nums = [100, 200, 150, 50, 75]
min_num = nums[0]
for n in nums:
    if n < min_num:
        min_num = n
print(min_num)

50

####15. Take a sentence as input from the user and count the number of words using a for loop. (Words are separated by spaces.)

In [ ]:
s = input("Enter a sentence: ")
count = 1
for ch in s:
    if ch == " ":
        count += 1
print("Words:", count)

Enter a sentence: Pallavi Kanhe Patil
Words: 3

####16. Given a list [20, 40, 60, 80, 100], create a new list with elements divided by 10 using a for loop.

In [ ]:
nums = [20, 40, 60, 80, 100]
new = []
for n in nums:
    new.append(n / 10)
print(new)

[2.0, 4.0, 6.0, 8.0, 10.0]

####17. Given a list ['red', 'green', 'blue', 'yellow', 'purple'], print only the words that have more than 4 letters using a for loop.

In [ ]:
colors = ['red', 'green', 'blue', 'yellow', 'purple']
for c in colors:
    if len(c) > 4:
        print(c)

green
yellow
purple

####18. Take a number as input from the user and generate a list of its multiplication table up to 10 using a for loop.

In [ ]:
n = int(input("Enter a number: "))
table = []
for i in range(1, 11):
    table.append(n * i)
print(table)

Enter a number: 12
[12, 24, 36, 48, 60, 72, 84, 96, 108, 120]

####19. Given a dictionary {'A': 10, 'B': 20, 'C': 30, 'D': 40}, print all key-value pairs using a for loop.

In [ ]:
d = {'A': 10, 'B': 20, 'C': 30, 'D': 40}
for k in d:
    print(k, ":", d[k])

A : 10
B : 20
C : 30
D : 40

####20. Given a list of mixed values [1, 'hello', 3.5, 'world', 10, 'Python'], print only the integer values using a for loop.

In [ ]:
items = [1, 'hello', 3.5, 'world', 10, 'Python']
for i in items:
    if type(i) == int:
        print(i)

1
10