####1. Write a Python program to sum all the elements in a list.

In [ ]:
input_list = [10, 20, 30, 40, 50]
total = sum(input_list)
print("Sum:", total)

Sum: 150

####2. Write a Python program to find the largest element in a list.

In [ ]:
input_list = [15, 25, 35, 45, 55]
print("Largest:", max(input_list))

Largest: 55

####3. Write a Python program to count the number of elements in a list.

In [ ]:
input_list = [1, 2, 3, 4, 5, 6]
print("Count:", len(input_list))

Count: 6

####4. Write a Python program to find the average of elements in a list.

In [ ]:
input_list = [20, 25, 30, 35, 40]
avg = sum(input_list) / len(input_list)
print("Average:", avg)

Average: 30.0

####5. Write a Python program to reverse a list.

In [ ]:
input_list = [5, 4, 3, 2, 1]
print("Reversed:", input_list[::-1])

Reversed: [1, 2, 3, 4, 5]

####6. Write a Python program to check if a given element exists in a list.

In [ ]:
lst = [10, 20, 30, 40, 50]
x = 30
if x in lst:
    print("Exists")
else:
    print("Not found")

Exists

####7. Write a Python program to remove duplicate elements from a list.

In [ ]:
lst = [10, 20, 20, 30]
unique = list(set(lst))
print(unique)

[10, 20, 30]

####8. Write a Python program to find the second largest element in a list.

In [ ]:
lst = [5, 10, 15, 20, 25]
lst.sort()
print("Second largest:", lst[-2])

Second largest: 20

####9. Write a Python program to sort elements in a list in ascending order.

In [ ]:
lst = [30, 10, 50, 20, 40]
print(sorted(lst))

[10, 20, 30, 40, 50]

####10. Write a Python program to merge two lists and sort them.

In [ ]:
list1 = [1, 3, 5]
list2 = [2, 4, 6]
merged = sorted(list1 + list2)
print(merged)

[1, 2, 3, 4, 5, 6]

####11. Given a nested list nested_list_row = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], how can you access the number 9 from the list? Write a Python program to achieve this.

In [ ]:
nested = [[1,2,3],[4,5,6],[7,8,9]]
print(nested[2][2])

9

####12. Suppose you have a nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], how can you access the number 8 from the list? Write a Python program to achieve this.

In [ ]:
nested = [[1,2,3],[4,5,6],[7,8,9]]
print(nested[2][1])

8

####13. How can you access the number 100 from the nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9,[1,55,77,100]]?

In [ ]:
nested = [[1,2,3],[4,5,6],[7,8,9,[1,55,77,100]]]
print(nested[2][3][3])

100

####14. How can you access the number 100 from the nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9, [1,55,77,100]] using negative indexing?

In [ ]:
nested = [[1,2,3],[4,5,6],[7,8,9,[1,55,77,100]]]
print(nested[-1][-1][-1])

100