# **Indexing Questions**

####1. Write a program to access the third element from the given list.
Input : [10, 20, 30, 40, 50]

Output : 30

In [ ]:
lists = [10,20,30,40,50]
print(lists[2])

30

####2. Write a program to access the last element from the given list using negative indexing.
Input : ['apple', 'banana', 'cherry', 'date']

Output : date

In [ ]:
lists = ['apple','banana','cherry','date']
print(lists[-1])

date

####3. Write a program to change the second element to 100 in the given list.
Input : [5, 10, 15, 20, 25]

Output : [5, 100, 15, 20, 25]

In [ ]:
lists = [5,10,15,20,25]
lists[1] = 100
print(lists)

[5, 100, 15, 20, 25]

####4. Write a program to access the first element using negative indexing.
Input : [7, 14, 21, 28, 35]

Output : 7

In [ ]:
lists = [7,14,21,28,35]
print(lists[-5])

7

####5. Write a program to access the second last element from the given list.
Input : [1, 2, 3, 4, 5, 6]

Output : 5

In [ ]:
lists = [1,2,3,4,5,6]
print(lists[-2])

5

# **Slicing Questions**

####6. Write a program to extract the first three elements from the given list.
Input : [100, 200, 300, 400, 500, 600]

Output : [100, 200, 300]

In [ ]:
lists = [100, 200, 300, 400, 500, 600]
print(lists[0:3])

[100, 200, 300]

####7. Write a program to extract all elements except the first two from the given list.
Input : [2, 4, 6, 8, 10, 12]

Output : [6, 8, 10, 12]

In [ ]:
lists = [2, 4, 6, 8, 10, 12]
print(lists[2:])

[6, 8, 10, 12]

####8. Write a program to extract every alternate element from the given list.
Input : [5, 10, 15, 20, 25, 30, 35]

Output : [5, 15, 25, 35]

In [ ]:
lists = [5, 10, 15, 20, 25, 30, 35]
print(lists[0::2])

[5, 15, 25, 35]

####9. Write a program to reverse the given list using slicing.
Input : [1, 3, 5, 7, 9]

Output : [9, 7, 5, 3, 1]

In [ ]:
lists = [1, 3, 5, 7, 9]
print(lists[::-1])

[9, 7, 5, 3, 1]

####10. Write a program to extract elements from index 2 to 5 from the given list.
Input : [11, 22, 33, 44, 55, 66, 77]

Output : [33, 44, 55, 66]

In [ ]:
lists = [11, 22, 33, 44, 55, 66, 77]
print(lists[2:6])

[33, 44, 55, 66]

# **Nested Slicing Questions**

####11. Write a program to access the second element from the first nested list.
Input : [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Output : 2

In [ ]:
lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(lists[0][1])

2

####12.  Write a program to extract the last element from the last nested list.
Input : [['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]

Output : i

In [ ]:
lists = [['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]
print(lists[-1][-1])

i

####13.  Write a program to extract the second and third lists from a given nested list.
Input : [[10, 20], [30, 40], [50, 60], [70, 80]]

Output : [[30, 40], [50, 60]]

In [ ]:
lists = [[10, 20], [30, 40], [50, 60], [70, 80]]
print(lists[1:3])

[[30, 40], [50, 60]]

####14. Write a program to extract the second element from all nested lists.
Input : [[1, 9], [2, 8], [3, 7], [4, 6]]

Output : [9, 8, 7, 6]

In [ ]:
lists = [[1, 9], [2, 8], [3, 7], [4, 6]]
result = [x[1] for x in lists]
print(result)

[9, 8, 7, 6]

####15. Write a program to reverse all sublists in a nested list.
Input : [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Output : [[3, 2, 1], [6, 5, 4], [9, 8, 7]]

In [ ]:
lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
result = [sub[::-1] for sub in lists]
print(result)

[[3, 2, 1], [6, 5, 4], [9, 8, 7]]

# **append() Function Questions**

####1. Write a program to append the number 100 to the given list.
Input : [10, 20, 30, 40]

Output : [10, 20, 30, 40, 100]

In [ ]:
lists = [10, 20, 30, 40]
lists.append(100)
print(lists)

[10, 20, 30, 40, 100]

####2. Write a program to append a string "Hello" to the given list.
Input : ['apple', 'banana', 'cherry']

Output : ['apple', 'banana', 'cherry', 'Hello']

In [ ]:
lists = ['apple', 'banana', 'cherry']
lists.append('Hello')
print(lists)

['apple', 'banana', 'cherry', 'Hello']

####3. Write a program to append a list [5, 6, 7] as a single element in the given list.
Input : [1, 2, 3, 4]

Output : [1, 2, 3, 4, [5, 6, 7]]

In [ ]:
lists = [1, 2, 3, 4]
lists.append([5,6,7])
print(lists)

[1, 2, 3, 4, [5, 6, 7]]

# **extend() Function Questions**

####4. Write a program to extend the given list by adding another list [50, 60, 70].
Input : [10, 20, 30, 40]

Output : [10, 20, 30, 40, 50, 60, 70]

In [ ]:
lists = [10, 20, 30, 40]
lists.extend([50,60,70])
print(lists)

[10, 20, 30, 40, 50, 60, 70]

####5. Write a program to extend a list of numbers [7, 8, 9] with another list [10, 11, 12].
Input : [7, 8, 9]

Output : [7, 8, 9, 10, 11, 12]

In [ ]:
lists = [7, 8, 9]
lists.extend([10,11,12])
print(lists)

[7, 8, 9, 10, 11, 12]

####6. Write a program to extend a list of strings ["cat", "dog"] with another list ["lion", "tiger"].
Input : ["cat", "dog"]

Output : ["cat", "dog", "lion", "tiger"]

In [ ]:
lists = ["cat", "dog"]
lists.extend(["lion","tiger"])
print(lists)

['cat', 'dog', 'lion', 'tiger']

# **pop() Function Questions**

####7.  Write a program to remove the last element from the given list using the pop function.
Input : [10, 20, 30, 40]

Output : [10, 20, 30]

In [ ]:
lists = [10, 20, 30, 40]
lists.pop()
print(lists)

[10, 20, 30]

####8. Write a program to remove the third element from the given list using the pop function.
Input : [1, 2, 3, 4, 5]

Output : [1, 2, 4, 5]

In [ ]:
lists = [1, 2, 3, 4, 5]
lists.pop(2)
print(lists)

[1, 2, 4, 5]

####9. Write a program to remove the first element from the given list using the pop function.
Input : [100, 200, 300, 400]

Output : [200, 300, 400]

In [ ]:
lists = [100, 200, 300, 400]
lists.pop(0)
print(lists)

[200, 300, 400]

# **remove() Function Question**

####10. Write a program to remove the element 20 from the given list.
Input : [10, 20, 30, 40, 50]

Output : [10, 30, 40, 50]

In [ ]:
lists = [10, 20, 30, 40, 50]
lists.remove(20)
print(lists)

[10, 30, 40, 50]

####11. Write a program to remove the first occurrence of "apple" from the given list.
Input : ["banana", "apple", "cherry", "apple"]

Output : ["banana", "cherry", "apple"]

In [ ]:
lists = ["banana", "apple", "cherry", "apple"]
lists.remove("apple")
print(lists)

['banana', 'cherry', 'apple']

####12. Write a program to remove the number 5 from the given list if it exists.
Input : [1, 2, 3, 4, 5, 6]

Output : [1, 2, 3, 4, 6]

In [ ]:
lists = [1, 2, 3, 4, 5, 6]
if 5 in lists:
  lists.remove(5)
print(lists)

[1, 2, 3, 4, 6]

# **index() Function Questions**

####13.  Write a program to find the index of the element 50 in the given list.
Input : [10, 20, 30, 40, 50, 60]

Output : 4

In [ ]:
lists = [10, 20, 30, 40, 50, 60]
print(lists.index(50))

4

####14. Write a program to find the index of "cherry" in the given list.
Input : ["apple", "banana", "cherry", "date"]

Output : 2

In [ ]:
lists = ["apple", "banana", "cherry", "date"]
print(lists.index("cherry"))

2

####15. Write a program to find the index of the number 100 in the given list. If not found, print "Not found".
Input : [10, 20, 30, 40]

Output : "Not found"

In [ ]:
lists =  [10, 20, 30, 40]
if 100 in lists:
  print(lists.index(100))
else:
  print("Not found")

Not found

# **count() Function Questions**

####16. Write a program to count the occurrences of 5 in the given list.
Input : [1, 5, 2, 5, 3, 5, 4]

Output : 3

In [ ]:
lists = [1, 5, 2, 5, 3, 5, 4]
print(lists.count(5))

3

####17. Write a program to count how many times "apple" appears in the given list.
Input : ["apple", "banana", "apple", "cherry", "apple"]

Output : 3

In [ ]:
lists = ["apple", "banana", "apple", "cherry", "apple"]
print(lists.count("apple"))

3

####18. Write a program to count the occurrences of 100 in the given list.
Input : [10, 20, 30, 40, 50]

Output : 0

In [ ]:
lists = [10, 20, 30, 40, 50]
print(lists.count(100))

0

# **min() and max() Function Questions**

####19. Write a program to find the minimum value in the given list.
Input : [45, 12, 78, 34, 23]

Output : 12

In [ ]:
lists = [45, 12, 78, 34, 23]
print(min(lists))

12

####20. Write a program to find the maximum value in the given list.
Input : [99, 55, 73, 21, 64]

Output : 99

In [ ]:
lists = [99, 55, 73, 21, 64]
print(max(lists))

99