# **List in Python**

A list is a mutable, ordered collection of elements.

* Mutable: Elements can be changed after the list is created.
* Ordered: Elements have a specific order and can be accessed via their index.
* Lists are created using square brackets [ ] and elements are separated by commas.
* Unlike strings, lists can be modified.

Example :

In [ ]:
lists = ['python', 23, 10.5, True]
type(lists)

list

# **Indexing**

* Zero-based indexing is used (first element = index 0).
* Positive and negative indexing is allowed

Example :

In [ ]:
lists = ['Mean Absolute Error','Mean Squared Error','Huber Loss','Log Loss','Hinge Loss']
print(lists [0])
print(lists [2])
print(lists [-1])
print(lists [-3])

Mean Absolute Error
Huber Loss
Hinge Loss
Huber Loss

# **Slicing**

* Extract a portion of a list.
* Syntax: list[start:stop:step]
* start = starting index, stop = ending index, step = optional

Example :

In [ ]:
lists = ['Mean Absolute Error','Mean Squared Error','Huber Loss','Log Loss','Hinge Loss']
print(lists [1:4])
print(lists [2:])
print(lists [::-1])

['Mean Squared Error', 'Huber Loss', 'Log Loss']
['Huber Loss', 'Log Loss', 'Hinge Loss']
['Hinge Loss', 'Log Loss', 'Huber Loss', 'Mean Squared Error', 'Mean Absolute Error']

# **List Operations / Manipulation**

Lists are mutable, unlike strings.

1. Concatenation - Joining two lists together to create a new list is called concatenation.
2. Reassignment works - Changing the value of an existing element in a list is called reassignment (because lists are mutable).

###Concatenation

Example :

In [ ]:
lists = ['Mean Absolute Error','Mean Squared Error','Huber Loss','Log Loss','Hinge Loss']
lists = lists + ['Custom Loss']
print(lists)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Custom Loss']

###Reassignment works

Example :

In [ ]:
lists = ['Mean Absolute Error','Mean Squared Error','Huber Loss','Log Loss','Hinge Loss']
lists[0] = 'Custom Loss'
print(lists)
lists[1] = 'Profit Loss'
print(lists)

['Custom Loss', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']
['Custom Loss', 'Profit Loss', 'Huber Loss', 'Log Loss', 'Hinge Loss']

# **List Function**

1. len(list) - Returns the number of elements
2. min(list) - Returns minimum element (same data type only)
3. max(list) - Returns maximum element (same data type only)
4. sum(list) - Returns sum (numeric list only)
5. sorted(list) - Returns a sorted copy of the list
6. sorted(list, reverse=True) - Returns descending sorted copy

Example :

In [ ]:
num = [6, 9, 1, 3, 5.5]
print(len(num))
print(min(num))
print(max(num))
print(sum(num))
print(sorted(num))
print(sorted(num, reverse=True))

char = ['c','b','z','y','m']
print(len(char))
print(min(char))
print(max(char))
print(sorted(char))
print(sorted(char, reverse=True))

5
1
9
24.5
[1, 3, 5.5, 6, 9]
[9, 6, 5.5, 3, 1]
5
b
z
['b', 'c', 'm', 'y', 'z']
['z', 'y', 'm', 'c', 'b']

# **List Methods**

Mutable lists have built-in methods:

1. append() - Adds an element at the end of the list.
2. extend() - Adds multiple elements from another list or iterable.
3. pop() - Removes an element by index (default last element) and returns it.
4. remove() - Removes first occurrence of specified element.
5. count() - Counts occurrences of an element.
6. index() - Returns index of first occurrence of element.
7. sort() - Sorts in place (changes original list). Ascending by default, reverse=True for descending.
8. reverse() - Reverses the list in place.

###1. append()

In [ ]:
lists = [1, 2, 3]
lists.append(10)
print(lists)
lists.append([4,5])
print(lists)

[1, 2, 3, 10]
[1, 2, 3, 10, [4, 5]]

###2. extend()

In [ ]:
lists = [2, 3, 40, 50]
lists.extend([20,30])
print(lists)
lists.extend(['wubba','lubba', 'dubba'])
print(lists)

[2, 3, 40, 50, 20, 30]
[2, 3, 40, 50, 20, 30, 'wubba', 'lubba', 'dubba']

###3. pop()

In [ ]:
lists = [1, 2, 3, 20, ['wubba','lubba'], 'dubba']
lists.pop()
print(lists)
lists.pop(0)
print(lists)
lists.pop(3)
print(lists)

[1, 2, 3, 20, ['wubba', 'lubba']]
[2, 3, 20, ['wubba', 'lubba']]
[2, 3, 20]

###4. remove()

In [ ]:
lists = [2, 4, 6, 0.3, -2, ['pallavi', 'vishal'], 'ram']
lists.remove(0.3)
print(lists)
lists.remove(['pallavi', 'vishal'])
print(lists)

[2, 4, 6, -2, ['pallavi', 'vishal'], 'ram']
[2, 4, 6, -2, 'ram']

###5. count()

In [ ]:
lists = [1, 2, 1, 20, ['wubba','lubba'], 2.3, 7, 8, 'dubba']
print(lists.count(1))
print(lists.count('dubba'))

2
1

###6. index()

In [ ]:
lists = [2, 4, 6, 0.3, -2, ['pallavi', 'vishal'], 'ram', 'kanhe']
print(lists.index(6))
print(lists.index('kanhe'))

2
7

###7. sort()

In [ ]:
num = [5, 6, 3, 1, 9, 10, 34]
num.sort()
print(num)
num.sort(reverse=True)
print(num)

char = ['a', 'z', 'v', 'e', 'k']
char.sort()
print(char)
char.sort(reverse=True)
print(char)

[1, 3, 5, 6, 9, 10, 34]
[34, 10, 9, 6, 5, 3, 1]
['a', 'e', 'k', 'v', 'z']
['z', 'v', 'k', 'e', 'a']

###8. reverse()

In [ ]:
char = ['pallavi', 'vishal', 'ram']
char.reverse()
print(char)

['ram', 'vishal', 'pallavi']

# **Nested List**
list can contain other lists

Example :

In [ ]:
nested = [1,2,[3,4,5],6, 'pallavi',['vishal', 'ram']]
print(nested[2])
print(nested[2][1])
print(nested[5][1])

[3, 4, 5]
4
ram