# **Dictionary in Python**
* A dictionary is a collection of key : value pairs
* Does not allow duplicate keys
* Values can be of any datatypes

* Type - Mapping
* Syntax - {Key : Value}
* Mutable - Yes
* Ordered - Yes
* Duplicate Keys - No
* Values allowed - Any data type

Example :

In [ ]:
student = {"name":"pallavi", "age":21, "city":"pune"}
print(student)

{'name': 'pallavi', 'age': 21, 'city': 'pune'}

Using dict() Constructor :

In [ ]:
my_dict = dict(name="pallavi", age=21, marks=85)
print(my_dict)

{'name': 'pallavi', 'age': 21, 'marks': 85}

# **Functions**

1. Add new key - value

In [ ]:
student = {"name":"pallavi", "age":21, "city":"pune"}
student ["marks"] = 92
print(student)

{'name': 'pallavi', 'age': 21, 'city': 'pune', 'marks': 92}

2. update () - Update multiple items

In [ ]:
student = {"name":"pallavi", "age":21, "city":"pune"}
student.update({"city":"mumbai", "age":25})
print(student)

{'name': 'pallavi', 'age': 25, 'city': 'mumbai'}

3. pop () - Removing items

In [ ]:
student = {"name":"pallavi", "age":21, "city":"pune"}
(student.pop("age"))
print(student)

{'name': 'pallavi', 'city': 'pune'}

4. popitem - remove last inserted item

In [ ]:
student = {"name":"pallavi", "age":21, "city":"pune"}
student.popitem()
print(student)

{'name': 'pallavi', 'age': 21}

# **Dictionary Methods**

1. keys () - Returns all keys

In [ ]:
student = {"name":"pallavi", "age":21, "city":"pune"}
print(student.keys())

dict_keys(['name', 'age', 'city'])

2. values () - Returns all values

In [ ]:
student = {"name":"pallavi", "age":21, "city":"pune"}
print(student.values())

dict_values(['pallavi', 21, 'pune'])

3. items () - Returns list of pairs (key, values)

In [ ]:
student = {"name":"pallavi", "age":21, "city":"pune"}
print(student.items())

dict_items([('name', 'pallavi'), ('age', 21), ('city', 'pune')])

5. get () - Safe key access

* Using get() - safe access (returns None or default if key missing)
* Raises keyerror if key not found present)

In [ ]:
student = {"name":"pallavi", "age":21, "city":"pune"}
print(student.get("name"))
print(student.get("gender"))
print(student.get("NA"))

pallavi
None
None

# **Looping Through Dictionary**

1. Loop over keys

In [ ]:
student = {"name":"pallavi", "age":21, "city":"pune"}
for key in student:
  print(key)

name
age
city

2. Loop Over Values

In [ ]:
student = {"name":"pallavi", "age":21, "city":"pune"}
for val in student.values():
  print(val)

pallavi
21
pune

3. Loop Over Key-Value Pairs

In [ ]:
student = {"name":"pallavi", "age":21, "city":"pune"}
for k, v in student.items():
  print(k, ":", v)

name : pallavi
age : 21
city : pune

# **Check if a key exists**

In [ ]:
student = {"name":"pallavi", "age":21, "city":"pune"}
print("name" in student)
print("marks" in student)

True
False

# **Dictionary with different datatypes**

In [ ]:
employee = {"name":"pallavi", "skills": ["python", "SQL"], "details": {"dept":"IT", "year":2025}}
print(employee["skills"][1])
print(employee["details"] ["dept"])

SQL
IT

# **Dictionary from two lists (Using ZIP ())**

In [ ]:
names = ["pallavi", "vishal", "ram", "pooja"]
marks = [89, 90, 87, 69]
result = dict(zip(names, marks))
print(result)

{'pallavi': 89, 'vishal': 90, 'ram': 87, 'pooja': 69}

# **Use Dictionary**

1. Fast lookup
2. Store related information
3. Use keys instead of index
4. Very useful for ISON, APIs, Databases