# **String in Python**

A string is a sequence of characters.
It is used to store text (name, word, sentence, paragraph).

Strings are enclosed in:
* Single quotes → 'hello'
* Double quotes → "hello"

String as a Sequence :

Python treats a string like a sequence of characters meaning
* Each character has a position (index).
* We can access characters using indexing.
* We can extract parts using slicing.

Example :

In [ ]:
name1 = 'Pallavi Kanhe'
name2 = "Pallavi Kanhe"
print(name1)
print(name2)

Pallavi Kanhe
Pallavi Kanhe

# **Important Properties of String**

Strings are immutable : You cannot change a character once the string is created

String are ordered : Characters have a fixed order - 0,1,2,......

# **String Indexing**

Indexing starts from 0

Negative index exists :
* -1 = Last character
* -2 = Second last

Example :

In [ ]:
text = "Pallavi Shivajirao Kanhe"
print(text [5])
print(text [7])
print(text [-2])
print(len (text))

v

h
24

# **String Slicing**

string [start : stop : step]

* start - where to begin
* stop - where to stop (excluded)
* step - jump size

Example :

In [ ]:
name = "Pallavi Shivajirao Kanhe"
print(name[:6])
print(name[8:])
print(name[: :1])
print(name[6:15:4])
print(name[: :-1])

Pallav
Shivajirao Kanhe
Pallavi Shivajirao Kanhe
iii
ehnaK oarijavihS ivallaP

## String Concatenation

String concatenation means joining two or more strings together using + operator. (both values must be strings)

Example :

In [ ]:
s1 = "Pallavi"
s2 = "Kanhe"
print(s1 + " " + s2)

age = 23
print("My age is " + str(age))

Pallavi Kanhe
My age is 23

## String Repetition

String repetition means repeating the same string multiple times using the * operator (the right side must be a number, not a string)

Example :

In [ ]:
s1 = "Pallavi"
print(s1 * 3)

s2 = "Kanhe"
print((s2 + " ") * 2)

PallaviPallaviPallavi
Kanhe Kanhe

# **Useful String Method**

1. lower() - Converts string to lowercase
2. upper() - Converts string to uppercase
3. count(x) - Counts how many times character appears
4. find(x) - Returns index of x (or -1 if not found)
5. replace(old, new) - Replace a substring with another
6. strip() - Removes extra spaces from start and end
7. split() - Breaks the string into a list of words
8. join() - Joins elements of a list into a string

Example :

In [ ]:
text = "Aditya is a data analyst"
print(text.lower())
print(text.upper())

print(text.count("a"))
print(text.find("data"))

print(text.replace("analyst", "scientist"))

space = "  data analytics  "
print(space.strip())

name = "Pallavi Kanhe"
print(name.split())

words = text.split()
print("-".join(words))

aditya is a data analyst
ADITYA IS A DATA ANALYST
6
12
Aditya is a data scientist
data analytics
['Pallavi', 'Kanhe']
Aditya-is-a-data-analyst

# **f - String**

* f string means formatted string
* it allows you to insert variables directly inside a string using {}
* you must start the string with f - f " "
* it is way to join text + variables

Example :

In [ ]:
name = "Pallavi"
age = 22
city = "pune"
a = 10
b = 5

print(f"My name is {name}, I am {age} years old, I live in {city.upper()}, and the sum of {a} and {b} is {a + b}.")

My name is Pallavi, I am 22 years old, I live in PUNE, and the sum of 10 and 5 is 15.